<mat-toolbar>
  <button
    (click)="toggleSidenav()"
    type="button"
    mat-icon-button
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <a
    routerLink="/products"
    routerLinkActive="router-link-active"
    class="navbar__title"
    >WebMarket</a
  >

  <div class="formcontainer">
    <form class="form">
      <input
        class="form__input"
        name="searchInput"
        placeholder="{{
          'MAIN_COMPONENTS.header.input_placeholder' | translate
        }}"
        type="text"
        [formControl]="searchInput"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option.name" (click)="toResult(option.id)">{{
            option.name
          }}</mat-option>
        } @empty {
          <mat-option>There arent's matching products</mat-option>
        }
      </mat-autocomplete>
    </form>
  </div>

  <button class="hide" mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ !isDarkMode() ? 'dark_mode':'light_mode' }}</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="translateMenu">
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #translateMenu="matMenu" xPosition="before">
    <button (click)="changeLanguage('es')" mat-menu-item>
      <span>Español</span>
    </button>
    <button (click)="changeLanguage('en')" mat-menu-item>
      <span>English</span>
    </button>
  </mat-menu>

  <button
    (click)="goToCart()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with shopping_cart icon"
  >
    <mat-icon
      [matBadge]="numItemsCart"
      matBadgeSize="large"
      aria-hidden="shopping cart"
      >shopping_cart_checkout</mat-icon
    >
  </button>

  @if (authSvc.isLoggedIn()) {
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button (click)="openUpdateDialog()" mat-menu-item>
        <mat-icon>manage_accounts</mat-icon>
        <span>{{ "MAIN_COMPONENTS.buttons.profile.profile" | translate }}</span>
      </button>
      <button (click)="toggleTheme()" mat-menu-item>
        <mat-icon>{{ !isDarkMode() ? 'dark_mode':'light_mode' }}</mat-icon>
        <span>Theme</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>{{ "MAIN_COMPONENTS.buttons.profile.logout" | translate }}</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>