@use '../../../../../public/styles/mixins' as mixins;
@use '../../../../../public/styles/variables' as variables;

:host {
  display: block;
  .mat-toolbar {
    background: #d7e3ff;
    color: variables.color(blue-2);
  }
  mat-icon {
    color: variables.color(blue-2);
  }

  .navbar {
    &__title {
      display: none;
      font-weight: 500;
    }
  }

  @include mixins.tablet() {
    .navbar {
      &__title {
        display: block;
        color: variables.color(blue-2);
      }
    }
  }
}

.formcontainer {
  flex: 1 1 auto;
}

.form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  &__input {
    height: 40px;
    width: 50vw;
    border-radius: 6px;
    padding: 0 10px;
    border: none;
    &:focus {
      outline: none;
      border-color: variables.color(blue-2);
      box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
    }
  }
}