@use '../../../../../public/styles/mixins' as mixins;
@use '../../../../../public/styles/variables' as variables;

:host {
  display: block;
  .mat-toolbar {
    background-color: var(--mat-sys-surface-container-high);
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }
  
  .navbar {
    &__title {
      display: none;
      color: var(--mat-sys-primary);
      font-weight: 500;
    }
  }
  
  mat-icon {
    color: var(--mat-sys-primary);
  }
  
  @include mixins.tablet() {
    .navbar {
      &__title {
        display: block;
      }
    }
  }
}

.formcontainer {
  flex: 1 1 auto;
}

.form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  &__input {
    height: 40px;
    width: 50vw;
    border-radius: 6px;
    padding: 0 10px;
    border: none;
    &:focus {
      outline: none;
      caret-color: var(--mat-sys-surface-tint);
      border-color: none;
      box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
    }
  }
}

.hide{
  display: none;
  @include mixins.mobile(){
    display: block;
  }
}