:host {
  display: block;

  .listcontainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
  }

  .productcard{
    padding: 20px;
    margin: 0 10px;
    background: gray;
    border-radius: 8px;
    border: 1px solid #6c6464;
    height: 300px;
    width: 200px;
  }

}
