@use '../../../../../public/styles/mixins.scss' as mixins;

:host {
  display: block;
  .container {
    width: 100%;
    height: calc(100vh - 56px);
  }

  .sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }
  .mat-drawer {
    color: #005cbb;
    width: 260px;
    box-shadow: 4px 4px 15px 1px rgba(215, 227, 255, 0.75);
    -webkit-box-shadow: 4px 4px 15px 1px rgba(215, 227, 255, 0.75);
    -moz-box-shadow: 4px 4px 15px 1px rgba(215, 227, 255, 0.75);
  }

  .menu {
    &__item {
      display: flex;
      flex-flow: row;
      align-items: center;

      margin: 0;
      padding: 8px 10px;
      width: 100%;
      border-radius: 9999px;

      color: #005cbb;
      background-color: #faf9fd;
      cursor: pointer;
      transition: background-color 200ms ease-out;

      mat-icon {
        margin: 0 6px 0 0;
      }
      &:hover {
        background-color: #d7e3ff;
      }
    }
    &__selected {
      background-color: #d7e3ff;
    }
  }

  @include mixins.mobile() {
    .container {
      height: calc(100vh - 64px);
    }
  }
}
