@use '@angular/material' as mat;
@use '../../../../../public/styles/mixins' as mixins;
@use '../../../../../public/styles/variables' as variables;

:host {
  display: block;
  .container {
    width: 100%;
    height: calc(100vh - 56px);
  }

  .sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }

  .mat-drawer {
    background-color: var(--mat-sys-surface-container-high);
    width: 210px;
    box-shadow: 4px 4px 15px 1px rgba(215, 227, 255, 0.75);
    -moz-box-shadow: 4px 4px 15px 1px rgba(215, 227, 255, 0.75);
    
    -webkit-box-shadow: 4px 4px 15px 1px rgb(127 123 123 / 9%);
  }

  .menu {
    color: var(--mat-sys-primary);
    &__item {
      display: flex;
      flex-flow: row;
      align-items: center;

      margin: 0;
      padding: 8px 10px;
      width: 100%;
      border-radius: 9999px;

      color: var(--mat-sys-on-surface-variant);
      cursor: pointer;
      transition: background-color 200ms ease-out;

      mat-icon {
        color: var(--mat-sys-on-surface-variant);
        margin: 0 6px 0 0;
      }
    
      &:hover {
        background-color: var(--mat-sys-outline-variant);
        color: var(--mat-sys-on-background);
        mat-icon {
          color: var(--mat-sys-on-background);
        }
      }
    }
    &__selected {
      background-color: var(--mat-sys-outline-variant);
      color: var(--mat-sys-on-background);
      mat-icon {
        color: var(--mat-sys-on-background);
      }
    }
  }

  .drawer-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  @include mixins.mobile() {
    .container {
      height: calc(100vh - 64px);
    }
  }
}

router-outlet{
  display: none;
}
