<div class="container-c">
    <h1>Ofertas</h1>
    
    <div class="listcontainer">
        <div class="productcard"></div>
        <div class="productcard"></div>
        <div class="productcard"></div>
        <div class="productcard"></div>
        <div class="productcard"></div>
    </div>
    
    <h1>Visto recientemente</h1>
    
    <div class="listcontainer">
        <div class="productcard"></div>
        <div class="productcard"></div>
        <div class="productcard"></div>
        <div class="productcard"></div>
        <div class="productcard"></div>
    </div>

</div>