:host {
  display: block;
}

.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.body {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 30px;
}
