@use '../../../../../../../public/styles/variables' as variables;

:host {
  display: block;
  .buys {
    &__card {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      width: 100%;

      margin: 0 auto 1rem;
      padding: 20px;
      border-radius: 1rem;
      cursor: pointer;
      //background-color: var(--mat-sys-surface-container);
      
      background-color: var(--mat-sys-surface-container-high);
      // background-color: variables.color(white-3);
      
      transition: all ease-in-out 300ms;
      &:hover {
        // background-color: #eeeaea;
        box-shadow: 1px 1px 3px 0px rgb(214, 214, 214);
        -webkit-box-shadow: 1px 1px 3px 0px rgb(214, 214, 214);
        -moz-box-shadow: 1px 1px 3px 0px rgb(214, 214, 214);
      }
    }
    &__salesuccess {
      color: variables.color(green-1);
    }
    &__salefailure {
      color: variables.color(orange-1);
    }
  }
}
