@use 'sass:map';

$colors: (
    
    //white-1: #FFFFFF,    
    white-1: var(--mat-sys-on-primary-container),    
    white-2: #DDDDDD,
    white-3: #FEFEFE,
    white-4: #D7E3FF,

    dark-1: #0F0715,
    dark-2: #050709,
    dark-3: #140C1C,

    blue-1: #3F51B5,
    blue-2: #005CBB,

    gray-1: #424242,
    gray-2: #808080,

    green-1: #2C8537,
    green-2: #00A650,

    orange-1: #DB6738,
);

@function color($color-name){
    @return map-get($colors, $color-name);
}

$screen-desktop-xl: 1200px;
$screen-desktop-lg: 1024px;
$screen-desktop-md: 750px;
$screen-desktop-sm: 600px;
$screen-mobile: 400px;