@use '../../../../../../../public/styles/mixins' as mixins;

:host {
  display: block;
  .filters {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    &__title {
      margin: 0 0 10px 0;
    }

    &__group {
      margin: 0 0 1rem 0;
    }

    &__categoryitem {
      display: block;
      width: 100%;
    }
  }

  .mat-mdc-slider {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    height: 48px;
    margin: 0 8px;
    position: relative;
    touch-action: pan-y;
    max-width: 180px;
    min-width: 230px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @include mixins.mobile-min() {
    .filters {
      flex-flow: row wrap;
      &__categoryitem {
        display: inline;
      }
    }
  }

  @include mixins.tablet() {
    .filters {
      flex-flow: column wrap;
      width: min-content;
      position: sticky;
      height: fit-content;
      align-self: start;
      &__categoryitem {
        display: block;
      }
    }
    .mat-mdc-slider {
      min-width: 180px;
    }
  }
}
